<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
    <link rel="stylesheet" type="text/css" href="build/main.css">
</head>
<body>
    <div id="weather-info"></div>
    <div id="main">
        <!-- <h1>Forecast for <span id="city"></span></h1> -->
    </div>
    <script id="weather-info-template" type="text/template">
        <h1>Forecast for <%= get("name") %></h1>
        <span> <%= get("country") %> </span>
        <span>Lat: <%= get("lat") %> </span>
        <span>Lon: <%= get("lon") %> </span>
    </script>
    <script id="weather-template" type="text/template">
        <ul>
            <li>Day: <%= new Date(get("dt") * 1000).toDateString() %></li>
            <li>Condition: <%= get("weather")[0].description %> </li>
            <li>Hi: <%= get("temp").max %> </li>
            <li>Lo: <%= get("temp").min %> </li>
            <li>Humidity: <%= get("humidity") %> </li>
            <li>Wind Speed: <%= get("speed") %> mph</li>
            <li>Wind Direction: <%= get("deg") %></li>
        </ul>
    </script>
    <script src="node_modules/underscore/underscore.js"></script>
    <script src="src/js/jquery.js"></script>
    <script src="node_modules/backbone/backbone.js"></script>
    <script src="src/js/main.js"></script>
</body>
</html>